@font-face {
  font-family: "minecraft-alt";
  src: url(/fonts/Minecrafter.Alt.ttf);
}

@font-face {
  font-family: "minecraft-normal";
  src: url(/fonts/MinecraftRegula.otf);
}

body {
  margin: 0px;
  margin-top: 3vh;
  height: 97vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  background-image: url(/images/themes/theme-light.jpg);
}

.left-sidebar {
  width: 250px;
}

.right-content {
  margin-left: 4vw;
}

.header-title {
  width: 100%;
  height: 5vh;

  font-family: "minecraft-alt";
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.grid-container {
  width: 800px;
  height: 800px;
  box-shadow: 1px 1px 0px black;
}

.inventory-border {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-radius: 5px;
}

.inventory {
  height: 840px;

  background-color: #c7c6c7;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-right: 7px solid #565556;
  border-bottom: 7px solid #565556;
  border-radius: 5px;
}

.under-inventory {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 85px;
  margin-left: 75px;
}

.lines-btn {
  font-family: minecraft-normal;
  font-size: 1.2rem;
  background-color: #9ca09c;
  width: 100px;
  padding: px;
}

.lines-btn:hover {
  color: white;
  cursor: pointer;
}

.toggle-background {
  background-color: #9ca09c;
  height: 50px;
  width: 100px;
  font-family: minecraft-normal;
  font-size: 1.2rem;
}

.toggle-background:hover {
  color: white;
  cursor: pointer;
}

.inventory-title {
  grid-column: span 5;
  font-family: "minecraft-normal";
  font-size: 1.5rem;
  align-self: end;
  padding-left: 10px;
  color: rgb(66, 66, 66);
}

.inventory-blocks {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-template-rows: repeat(7, 44px);
  padding-left: 10px;
}

.inventory-blocks > .tooltip > img {
  height: 40px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #8d8d8d;
}

.inventory-blocks > .tooltip > img:hover {
  background-color: rgb(170, 169, 169);
  opacity: 0.8;
}

.inventory-blocks > .tooltip > img:active {
  background-color: rgb(0, 128, 0, 0.6);
  opacity: 1;
}

.pickaxe {
  width: 50px;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #110b12;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border: 4px solid #280f61;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "minecraft-normal";

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 60%;
  /* margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.world-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  bottom: 500px;
}

.world-size > img {
  height: 10px;
  width: 100px;
  padding-bottom: 5px;
}

.size-value {
  font-family: "minecraft-normal";
  position: absolute;
  top: 210px;
}

.slider {
  position: absolute;
  top: 170px;
  width: 200px;
  height: 10px;
  background: #717171;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 50px;
  width: 22px;
  background-color: #878a87;
  border-top: 5px solid #c2c4c2;
  border-bottom: 5px solid #5a5a5a;
  border-left: 5px solid #666666;
  border-right: 5px solid #666666;
}

.color-picker:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pickaxe:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
}

.pickaxe:active {
  box-shadow: inset 1px 1px 1px 1px black;
}

@media screen and (max-width: 800px) {
  body {
    display: none;
  }
  html {
    background-image: url(/images/themes/parrot.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 81, 255);
  }
}
